@import url('https://fonts.googleapis.com/css2?family=Radio+Canada');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: inherit;
  font-family: inherit;
}

html {
  font-family: 'Radio Canada', sans-serif;
}

body {
  background-color: #292929;
  color: #fff;
}
